@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.container{
    display: flex;
    @include formatContainerButtons;
    a{
        text-decoration: none;
    }
}
.column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}