@import '../../../variables.scss';
@import '../../../mixins.scss';

.darkMode{
    @include borderDark; 
    @include shadowDark;
    .containerImageSelect{
        @include borderDark; 
        @include shadowDark;
    }
}
.lightMode{
    @include borderLight; 
    @include shadowLight;
    .containerImageSelect{
        @include borderLight; 
        @include shadowLight;
    }
}
 
.carrousel{
    margin-top:$gap;
    .containerImageSelect{
        width: 100%;
        display: grid;
        place-items: center;
        padding: $padding;

        .imageSelect{
            width: 100%;
            object-fit: contain;
        }
    }
    .containerImages{
        padding: $padding;
        display: flex;
        width: 100%;
        justify-content: space-around;
        overflow: auto;
        .imageOption{
            width: 80px;
        }
    }
}