@import '../../../variables.scss';

.carrousel{
    .containerImageSelect{
        width: 100%;
        display: grid;
        place-items: center;
        padding: $padding;

        .imageSelect{
            width: 100%;
            object-fit: contain;
        }
    }
    .containerImages{
        display: flex;
        width: 100%;
        justify-content: space-around;
        overflow: auto;
        .imageOption{
            width: 80px;
        }
    }
}