@import '../../../variables.scss';
@import '../../../mixins.scss';

.darkMode{
    @include borderDark; 
    @include shadowDark;
    .containerImageSelect{
        @include borderDark; 
        @include shadowDark;
    }
}
.lightMode{
    @include borderLight; 
    @include shadowLight;
    .containerImageSelect{
        @include borderLight; 
        @include shadowLight;
    }
}
 
.carrousel{
    margin-top:$gap;
    @include lg{
        display: flex;
        max-width: 1200px;
    }
    .containerImageSelect{
        width: 100%;
        display: grid;
        place-items: center;
        padding: $padding;
        @include lg{
            max-width: 70%;
        }
        .imageSelect{
            width: 100%;
            object-fit: contain;
        }
    }
    .containerImages{
        padding: $padding;
        display: flex;
        width: 100%;
        justify-content: space-around;
        overflow: auto;
        @include lg{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 30%;
        }
        .imageOption{
            cursor: pointer;
            width: 80px;
            @include lg{
                width: 80%;
            }
        }
    }
}