@import "../../../variables.scss";
@import "../../../mixins.scss";

.darkMode {
    background-color: $dark-grey;

    h1 {
        color: $white;
    }

    p {
        color: $white;

    }
    a{
        color:$light-purple;
    }
}

.lightMode {
    background-color: $white;

    h1 {
        color: $dark-grey;
    }

    p {
        color: $dark-grey;
    }
    a{
        color:$purple;
    }
}

.main {
    transition: background-color .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100% - 80px);
    padding: $padding;

    article {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}