@import "../../../../variables.scss";
@import "../../../../mixins.scss";
.darkMode{
    background-color: $dark-grey;
    section{
        background-color: $grey;
        p{
            color:$white;
            a{  
                color:$light-purple;
            }
        }
    }
}
.lightMode{
    background-color: $white;
        section {
            background-color: $light-grey;
            p {
                a {
                    color: $purple
                }
            }
        }
}
.main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $padding;
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include formatCard;
        gap: $gap;
        p{
            padding: $padding;
        }
    }
}