@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.darkMode {
    background-color: $dark-grey;
    
    .form {
        background-color: $dark-grey;
        @include borderDark;
        @include shadowDark;
        label {
            color: $white;
            
            input {
                color: $white;
                background-color: $dark-grey;
                @include borderDark;
                @include shadowDark;
            }
        }

        a {
            color: $light-purple;
        }
    }
}

.lightMode {
    background-color: $white;
    
    .form {
        @include borderLight;
        @include shadowLight;
        background-color: $white;

        label {
            color: $black;

            input {
                @include borderLight;
                @include shadowLight;
                color: $black;
                background-color: $light-grey;
            }
        }

        a {
            color: $purple;
        }
    }
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include formatCard;
        gap: $gap;

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            input {
                width: 80%;
                padding: $padding;
                border: none;
            }

            small {
                width: 100%;
                color: $red
            }
        }

        .btnRegister {
            @include formatButtonPurple;
            font-size: $text;
            &:disabled{
                @include buttonDisable;
            }
        }
    }
}