@import "../../../variables.scss";
@import "../../../mixins.scss";

.darkMode {
    background-color: $dark-grey;
    .title {
        color:$white;
    }
/* 
    .containerCategories {
        background-color: $grey;
    } */
}

.lightMode {
    background-color: $white;
    .title {
        color: $black;
    }
    /* 
    .containerCategories {
        background-color: $light-grey;
    } */
}

.main {
    transition: background-color .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 80px);
    padding: $padding;
    @include lg{
        justify-content: flex-start;
        gap: $gap*10;
    }

    .title{
        font-size: $title;
    }
    .containerAdminOptions{
        @include formatCard;
        .buttonCreate{
            @include formatButtonPurple;
            text-decoration: none;
        }
    }
    .containerCategories {
        max-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: $padding;
        gap: $gap;
        overflow: auto;
        @include md{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}