@import "../../../variables.scss";
@import "../../../mixins.scss";
.darkMode{
    background-color: $dark-grey;
    .containerFilter, .containerFilterExpanded {
        background-color: $dark-grey;
        @include borderDark;
        @include shadowDark;
    }
    
    /* .containerProducts {
        background-color: $grey;
    } */
}
.lightMode{
    background-color: $white;
    .containerFilter, .containerFilterExpanded {    
        background-color: $white;
        @include borderLight;
        @include shadowLight;
    }
    
    /* .containerProducts {
        background-color: $light-grey;
    } */
    
}
.main{
    transition: background-color .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 80px);
    padding: $padding;
    .containerAdminOptions{
        @include formatCard;
        .buttonCreate{
            text-decoration: none;
            @include formatButtonPurple
        }
    }
    .containerFilter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        transition: height .6s ease;
        @include md {
            width: 80%;
        }
    }
    .containerFilterCondense{
        flex-direction: row;
        justify-content: space-around;
        height: 10%;
        button{
            display: inline-block;
            opacity: 1;
        }
        .formFilter{
            display: none;
            opacity: 0;   
        }
    }
    .containerFilterExpanded{
        height: 80%;
        button{
            opacity: 0;   
            display: none;
        }
        .formFilter{
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $gap;
            button{
                display: inline-block;   
                opacity: 1;
            }
        }
        @include md {
            height: 10%;
            .formFilter{
                flex-direction: row;
            }
        }
    }
    .containerProducts{
        height: 80%;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: $padding;
        gap: $gap;
        overflow: auto;
        @include md {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}