@import './variables.scss';
//mixins
@mixin borderRadius{
    border-radius: $border-radius;
}

@mixin formatCard{
    padding-top: $padding;
    padding-bottom: $padding;
    width: 320px;
}
@mixin formatButton{
    border: 1px solid $purple;
    font-size: $text;
    background-color: $white;
    color:$purple;
    padding: $padding;
    min-width: 120px;
    max-width: 320px;
    height: 46px;
    @include borderRadius;
    cursor:pointer;
}
@mixin buttonDisable{
    background-color: $grey;
    color: $dark-grey;
}
@mixin formatButtonPurple{
    @include formatButton;
    background-color: $purple;
    color: $light-purple;
}
@mixin borderLight{
    border: 1px solid $light-grey;
}
@mixin borderDark{
    border: 1px solid $grey;
}
@mixin shadowLight{
    box-shadow: 0px 0px 8px $light-grey;
}
@mixin shadowDark{
    box-shadow: 0px 0px 6px $grey;
}