@import './variables.scss';
//mixins
@mixin borderRadius{
    border-radius: $border-radius;
}

@mixin formatCard{
    padding: $padding;
    width: 320px;
    @include borderRadius;
}
@mixin formatButton{
    border: 1px solid $purple;
    font-size: $text;
    background-color: $white;
    color:$purple;
    padding: $padding;
    min-width: 120px;
    max-width: 320px;
    @include borderRadius;
    cursor:pointer;
}
@mixin buttonDisable{
    background-color: $grey;
    color: $dark-grey;
}
@mixin formatButtonPurple{
    @include formatButton;
    background-color: $purple;
    color: $light-purple;
}