// backgrounds


// colors
$black:#141414;
$dark-grey:#292929;
$grey:#4c4a4a;
$light-grey:#cfcece;
$white:#ece7e7;
$light-purple:#e9d4ff;
$purple:#4b0d89;
$dark-purple:#33085f;
$light-blue:#a5dff4;
$blue:#0c47a7;
$dark-blue:#022050;
$red:#f00606;
$green:#00c14a;
$yellow:#fff04a;

//buttons

// fonts
$title:24px;
$button-login: 20px;
$text:16px;
$aux-text:12px;

//sizes
$padding: 12px;
$border-radius:.375rem;
$gap:.5rem;