@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.darkMode{
    background-color: $light-grey;
    color:$black;
}
.lightMode{
    background-color: $white;
    color:$black;
}
.card{
    @include formatCard;
    
    img{
        width: 100%;
        border-radius: $border-radius;
    }
    h3{
        font-size: $title;
    }
    p{
        font-size: $text;
    }
    small{
        font-size: $aux-text;
    }
    button{
        font-size: text;
    }
    article{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:$gap;
        
    }
}