@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.darkMode{
    @include borderDark;
    @include shadowDark;
    background-color: $dark-grey;
    color:$white;
    img{
        @include borderDark;
        @include shadowDark;
    }
}
.lightMode{
    @include borderLight;
    @include shadowLight;
    background-color: $white;
    color:$black;
    img{
        @include borderLight;
        @include shadowLight;
    }
}
.card{
    @include formatCard;
    img{
        width: 80%;
    }
    h3{
        font-size: $title;
    }
    p{
        font-size: $text;
    }
    small{
        font-size: $aux-text;
    }
    button{
        font-size: text;
    }
    article{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:$gap;
        
    }
}